[Desktop Entry]
Name[ab]=Хәба ма инеиҳаны
Name[af]=Vyf-of-meer
Name[ar]=خمسة أو أكثر
Name[as]=পাঁচ অথবা অধিক
Name[ast]=Five or More
Name[be]=Пяць і болей
Name[bg]=Пет поне
Name[bn]='পাঁচ অথবা বেশি'
Name[bn_IN]='পাঁচ অথবা বেশি'
Name[bs]=Pet ili više
Name[ca]=Cinc o més
Name[ca@valencia]=Cinc o més
Name[cs]=Pět nebo víc
Name[cy]=Pump neu Fwy
Name[da]=Fem eller flere
Name[de]=Fünf oder mehr
Name[dz]=ལྔའམ་དེ་ལས་མངམ།
Name[el]=Πέντε ή περισσότερα
Name[en_CA]=Five or More
Name[en_GB]=Five or More
Name[en@shaw]=·𐑓𐑲𐑝 𐑹 ·𐑥𐑹
Name[eo]=Kvin Aŭ Pli
Name[es]=Cinco o más
Name[et]=Viis või rohkem
Name[eu]=Bost edo gehiago
Name[fa]=پنج یا بیش‌تر
Name[fi]=Viisi tai enemmän
Name[fr]=Cinq ou plus
Name[fur]=Cinc o plui
Name[ga]=Cúig nó Breis
Name[gl]=Cinco ou Máis
Name[gu]=પાંચ અથવા વધુ
Name[he]=חמש או יותר
Name[hi]=पांच या अधिक
Name[hr]=Pet ili više
Name[hu]=Öt vagy több
Name[id]=Five or More
Name[is]=Fimm eða fleiri
Name[it]=Cinque o più
Name[ja]=Five or More
Name[ka]=ხუთი ან მეტი
Name[kk]="Бес немесе одан да көп"
Name[km]=ប្រាំ ឬ​ច្រើន​ជាង
Name[kn]=ಐದು ಅಥವ ಹೆಚ್ಚಿನ
Name[ko]=다섯개
Name[lt]=Penketas ar daugiau
Name[lv]=Vismaz pieci
Name[mai]=पाँच अथवा बेसी 
Name[mk]=Five or More
Name[ml]=അഞ്ച് അല്ലെങ്കില്‍ കൂടുതല്‍
Name[mr]=पाच किंवा जास्त
Name[ms]=Lima atau Lebih
Name[nb]=Fem eller flere
Name[nl]=Vijf of meer
Name[nn]=Fem eller meir
Name[oc]=Cinc o mai
Name[or]=ପାଞ୍ଚ କିମ୍ବା ଅଧିକ
Name[pa]=ਪੰਜ ਜਾਂ ਵੱਧ
Name[pl]=Kulki
Name[pt]=Cinco ou mais
Name[pt_BR]=Cinco ou Mais
Name[ro]=Cinci sau mai multe
Name[ru]=Пять или более
Name[sk]=Päť a viac
Name[sl]=Pet ali več
Name[sq]=Pesë apo më Shumë
Name[sr]=Пет или више
Name[sr@latin]=Pet ili više
Name[sv]=Fem eller mer
Name[ta]=ஐந்து அல்லது அதற்கு மேல்
Name[te]=ఐదు లేదా ఎక్కువ
Name[th]=หยิบห้า
Name[tr]=Beş veya Daha Çoğu
Name[ug]=Five ياكى More
Name[uk]=П'ять або більше
Name[vi]=Năm hay nhiều hơn
Name[xh]=U-Five or More
Name[zh_CN]=连珠消球
Name[zh_HK]=五子連色棋
Name[zh_TW]=五子連色棋
Name=Five or More
Comment[ab]=Иқәыжәгала аӷәы аҟынтә зыԥштәы еилаԥсоу агьежьқәа, еиқәшәаршәала ԥштәык змоу ацәаҳәақәа
Comment[af]=Verwyder gekleurde balle van die bord deur lyne te vorm
Comment[ar]=حذف الكرات الملوّنة من اللوحة بتأليف سطور
Comment[as]=শাৰী গঠন কৰি বৰ্ডৰ পৰা ৰঙীন বলবোৰ আতৰাওক
Comment[ast]=Desaniciar boles de colores del tableru formando llinies
Comment[az]=Rəngli toplardan sıralar yaradaraq lövhədən silin
Comment[be]=Складайце каляровыя шарыкі ў лінію, каб выдаліць іх з дошкі
Comment[bg]=Премахване на цветни топчета от дъската чрез образуване на линии
Comment[bn]=সারি গঠনের মাধ্যমে বোর্ড থেকে রঙিন বলগুলো সরিয়ে ফেলুন
Comment[bn_IN]=সারি গঠনের মাধ্যমে বোর্ড থেকে রঙিন বলগুলো সরিয়ে ফেলুন
Comment[bs]=Uklanjajte obojene lopte sa table formirajući linije
Comment[ca]=Suprimiu les boles de colors del tauler formant línies
Comment[ca@valencia]=Suprimiu les boles de colors del tauler formant línies
Comment[cs]=Odstraňovat barevné koule z hrací desky tvořením úseček
Comment[cy]=Tynnu peli lliwgar o'r bwrdd gan ffurfio llinellau
Comment[da]=Fjern farvede kugler fra brættet ved at danne linjer
Comment[de]=Farbige Kugeln durch Formieren von Linien aus dem Spielbrett entfernen
Comment[dz]=གྲལ་ཐིག་བཟོ་ཐོག་ལས་ ཚོས་གཞི་ཅན་གྱི་རྩེད་རིལ་ཚུ་ རྩེད་གཞོང་གུ་ལས་ རྩ་བསྐྲད་གཏང་།
Comment[el]=Αφαιρέστε τις χρωματιστές μπάλες από τον πίνακα σχηματίζοντας γραμμές
Comment[en_CA]=Remove coloured balls from the board by forming lines
Comment[en_GB]=Remove coloured balls from the board by forming lines
Comment[en@shaw]=𐑮𐑦𐑥𐑵𐑝 𐑒𐑳𐑤𐑼𐑛 𐑚𐑷𐑤𐑟 𐑓𐑮𐑪𐑥 𐑞 𐑚𐑹𐑛 𐑚𐑲 𐑓𐑹𐑥𐑦𐑙 𐑤𐑲𐑯𐑟
Comment[eo]=Forigu kolorajn pilkojn de la tabulo, farante liniojn
Comment[es]=Elimine bolas de colores del tablero formando líneas
Comment[et]=Värviliste kuulide eemaldamine nende rittaajamise teel
Comment[eu]=Lerroak osatuz, kendu koloretako puxtarriak taulatik
Comment[fa]=حذف توپ‌های رنگی از صفحه با تشکیل خط
Comment[fi]=Poista värilliset pallot laudalta muodostamalla rivejä
Comment[fr]=Enlever des billes de couleur du plateau en formant des lignes
Comment[fur]=Gjave lis balutis coloradis de scachiere formant liniis
Comment[gl]=Retirar as bólas de cores do taboleiro formando liñas
Comment[gu]=લીટીઓ બનાવીને પાટિયા પરથી રંગીન બોલ દૂર કરો
Comment[he]=הסרת כדורים צבעוניים מהלוח על־ידי יצירת שורות
Comment[hi]=रेखाएँ बनाकर रंगीन गेंदों को बोर्ड से हटाएँ
Comment[hr]=Uklonite obojene lopte s ploče formirajući redke
Comment[hu]=Színes labdák leszedése a tábláról azok egymás mellé helyezésével
Comment[id]=Hapus bola berwarna dari papan dengan membuat baris
Comment[is]=Fjarlægðu litaðar kúlur úr borðinu með því að mynda raðir
Comment[it]=Rimuovi le biglie colorate dalla scacchiera formando linee
Comment[ja]=色の付いた石を並べて盤から取り去るゲームです
Comment[kk]=Тақтадан түсті шарларды қатарларды құру арқылы алып тастаңыз
Comment[km]=យក​បាល់​ដែល​បាន​ដាក់​ពណ៌​ចេញ​ពី​ក្ដារ​ដោយ​​ធ្វើ​ឲ្យ​មាន​រូបរាង​បន្ទាត់
Comment[kn]=ಗೆರೆಗಳನ್ನು ರಚಿಸುವ ಮೂಲಕ ಬಣ್ಣದ ಚೆಂಡುಗಳನ್ನು ಬೋರ್ಡಿನಿಂದ ತೆಗೆದು ಹಾಕಿ
Comment[ko]=색색의 공을 제거해 한 줄로 만듭니다
Comment[lt]=Pašalinti nuo lentos spalvotus rutulius sukūrus iš jų linijas
Comment[lv]=Noņemt krāsainās bumbas no galda, veidojot līnijas
Comment[mai]=रंगीन गेंदकेँ पट्ट सँ मेटाबै लेल पंक्तिमे लगाबू
Comment[mk]=Отстранете ги обоените топчиња од таблата со формирање линии
Comment[ml]=നിറമുള്ള പന്തുകള്‍ വര ഉണ്ടാക്കി ബോര്‍ഡില്‍ നിന്ന് മാറ്റുക
Comment[mn]=Шулууны хэлбэрээр өнгөт бөмбөгүүдийг хөлөгөөс устгана
Comment[mr]=रांगा तयार करत पटावरुन रंगीत चेंडु काढा
Comment[ms]=Buang bola berwarna dari papan dengan membentuk satu barisan
Comment[nb]=Fjern fargede baller fra brettet ved å lage linjer
Comment[nl]=Gekleurde ballen van het bord verwijderen door lijnen te vormen
Comment[nn]=Fjern farga ballar frå brettet ved å laga linjer
Comment[oc]=Levar de bilhas de color del platèu en formant de linhas
Comment[or]=ରେଖା ଗଠନ କରିବା ଦ୍ବାରା ବୋର୍ଡରୁ ରଙ୍ଗ ବଲଗୁଡିକୁ ହଟାଅ
Comment[pa]=ਲਾਇਨਾਂ ਬਣਾ ਕੇ ਬੋਰਡ ਉੱਤੇ ਰੰਗਦਾਰ ਬਾਲਾਂ ਹਟਾਓ
Comment[pl]=Usuń kolorowe kulki z planszy poprzez układanie ich w linie
Comment[pt]=Remova bolas coloridas do tabuleiro formando linhas
Comment[pt_BR]=Remova bolas coloridas do tabuleiro formando linhas
Comment[ro]=Elimină bilele colorate de pe tablă formând linii
Comment[ru]=Убирайте разноцветные шарики с поля, выстраивая прямые линии одного цвета
Comment[sk]=Odstráňte farebné loptičky z hracej plochy zoradením do radov
Comment[sl]=Odstrani barvne kroglice s plošče s postavljanjem kroglic v vrste
Comment[sq]=Hiq topat me ngjyrë nga tabela duke krijuar rreshta
Comment[sr]=Уклањајте обојене лоптице са табле образујући линије
Comment[sr@latin]=Uklanjajte obojene loptice sa table obrazujući linije
Comment[sv]=Ta bort färgade bollar från brädet genom att skapa linjer
Comment[ta]=பககையிலிருந்து வண்ண பந்துகளை வரிசைகளாக நீக்கவும்ும்.
Comment[te]=గీతలు ఏర్పర్చుకుంటూ పలకం పైనుండి రంగుల బంతులను తొలగించుంము
Comment[th]=หยิบลูกแก้วสีออกโดยเรียงให้เป็นแถว
Comment[tr]=Çizgiler oluşturarak renkli topları tahtadan kaldırın
Comment[ug]=رەڭلىك توپلارنى تىزىپ ئۇلارنى تاختىدىن ئېلىۋېتىڭ
Comment[uk]=Вилучати кольорові кулі з дошки, формуючи ряди
Comment[vi]=Bỏ các bóng cùng màu ra khỏi bảng bằng cách sắp chúng thành hàng
Comment[xh]=Susa iibhola ezinombala ebhodini ngokuthi wenze imigca
Comment[zh_CN]=将彩球连成一线以消去
Comment[zh_HK]=移動同色的球成一直線令球消失
Comment[zh_TW]=移動同色的球成一直線令球消失
Comment=Remove colored balls from the board by forming lines
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ab]=ахәмарра;алогика;астратегиа;
Keywords[af]=speletjie;strategie;logika;
Keywords[as]=খেল;কৌশল;যুক্তি;
Keywords[be]=лагічная;гульня;стратэгія;логіка;
Keywords[bg]=игра;стратегия;логика;пет;поне;повече;game;strategy;logic;
Keywords[bs]=igra;strategija;logika;
Keywords[ca]=joc;estratègia;lògica;
Keywords[ca@valencia]=joc;estratègia;lògica;
Keywords[cs]=hra;strategická;logická;
Keywords[da]=spil;strategi;logik;
Keywords[de]=Spiel;Strategie;Logik;
Keywords[el]=παιχνίδι;στρατηγική;λογική;game;strategy;logic;
Keywords[en_GB]=game;strategy;logic;
Keywords[eo]=ludo;strategio;logiko;
Keywords[es]=juego;estrategia;lógica;
Keywords[et]=mäng;strateegia;loogika;
Keywords[eu]=jokoa;estrategia;logika;
Keywords[fa]=بازی;استراتژی;منطق;game;strategy;logic;
Keywords[fi]=game;strategy;logic;strategia;logiikka;peli;
Keywords[fr]=jeu;stratégie;logique;
Keywords[fur]=zûc;zûcs;strategjie;logjiche;
Keywords[gl]=xogo;estratexia;lóxica;
Keywords[he]=משחק;אסטרטגיה;היגיון;הגיון;
Keywords[hi]=game;strategy;logic;खेल;रणनीति;तर्क;
Keywords[hr]=igra;strategija;logika;
Keywords[hu]=játék;stratégia;logika;
Keywords[id]=permainan;strategi;logika;
Keywords[is]=leikur;kænska,rökfimi
Keywords[it]=gioco;giochi;strategia;logica;
Keywords[ja]=game;strategy;logic;ゲーム;ストラテジー;ロジック;論理;puzzle;パズル;
Keywords[ka]=game;strategy;logic;
Keywords[kk]=game;strategy;logic;ойын;стратегия;логика;
Keywords[ko]=game;게임;strategy;전략;logic;논리;로직;
Keywords[lt]=žaidimas;strategija;logika;
Keywords[lv]=spēle;stratēģija;loģika;
Keywords[ml]=കളി;തന്ത്രം;ലോഗിക്‌;
Keywords[ms]=permainan;strategi;logik;
Keywords[nb]=spill;strategi;logikk;
Keywords[ne]=खेल;रणनीति;तर्क;
Keywords[nl]=spel;strategie;logica;
Keywords[oc]=jòc;estrategia;logica;
Keywords[pa]=ਖੇਡ;ਗੇਮ;ਲਾਜਿਕ;ਨੀਤੀgame;strategy;logic;
Keywords[pl]=gra;gierka;strategiczna;strategia;logiczna;logika;
Keywords[pt]=jogo;estratégia;lógica;
Keywords[pt_BR]=game;jogo;estratégia;lógica;
Keywords[ro]=game;strategy;logic;joc;strategie;logică;
Keywords[ru]=игра;стратегия;логическая;
Keywords[sk]=hra;strategická;logická;stratégia;logika;
Keywords[sl]=igra;strateška;logika;kroglice;pet v vrsto;
Keywords[sr]=игра;стратегија;логика;
Keywords[sr@latin]=igra;strategija;logika;
Keywords[sv]=spel;strategi;logik;
Keywords[ta]=விளையாட்டு;திட்டம்;தர்க்கம்;
Keywords[tr]=game;strategy;logic;oyun;strateji;izlem;mantık;
Keywords[ug]=game;strategy;logic;ئويۇن;ئىستراتېگىيە;لوگىكىلىق;
Keywords[uk]=гра;стратегія;логіка;
Keywords[vi]=game;trò chơi;tro choi;strategy;chiến lược;chien luoc;logic;lôgíc;
Keywords[zh_CN]=game;strategy;logic;游戏;策略;逻辑;
Keywords[zh_HK]=game;strategy;logic;遊戲;策略;邏輯;
Keywords[zh_TW]=game;strategy;logic;遊戲;策略;邏輯;
Keywords=game;strategy;logic;
Exec=five-or-more
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.five-or-more
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;LogicGame;
StartupNotify=true
DBusActivatable=true
